body{

margin:0;
font-family:Arial;
background:#0b3d2e;
color:white;
text-align:center;

}

.dark{

background:black;
color:white;

}

.container{

padding:20px;

}

.tabs button{

margin:5px;
padding:10px 15px;
border:none;
background:gold;
border-radius:20px;

}

.controls button{

padding:10px 15px;
margin:5px;
border:none;
background:gold;
border-radius:20px;

}

#progress{

width:80%;

}

.section{

display:none;

}
