body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0b3d2e,#145c43);
color:white;
text-align:center;

}

.container{

padding:30px;

}

h1{

color:gold;

}

.player{

background:rgba(255,255,255,0.1);
padding:25px;
border-radius:15px;
max-width:420px;
margin:auto;

}

button{

padding:10px 20px;
margin:8px;
font-size:16px;
border:none;
border-radius:20px;
background:gold;
color:black;
cursor:pointer;

}

button:hover{

background:white;

}

#progress{

width:100%;
margin-top:20px;

}
